body{
  font-family: "Poppins", sans-serif;
  font-style: italic;
  background-color: #6c757d;
}
.navbar {
  font-style: normal;
}
.navbar a:hover {
  background-color: #ddd;
  border-radius: 10%;
  color: rgb(0, 0, 0);
}
.banner {
  background-image: url(../Img/banner.png);
  background-size: cover;
  background-repeat: no-repeat;
  padding: 180px 0;
}
section {
  padding: 20px 0px 0px 0px;
}
.about {
  background-color: #7CCCA1;
  text-align: justify;
  padding-right: 50px;
}
.skillimg {
  width: 80%;
  height: 100%;
  margin: auto;
}
.skills, .work {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  margin: auto;
  text-align: center;
  width: 100%;
}
.contact {
  background-image: url(/Portfolio/Img/contact.png);
  background-size: cover;
  background-repeat: no-repeat;
}